header{
    padding: 1em 0;
    text-align: center;
    font-size: 40px;
    color: rgb(135, 93, 16);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

main{
    text-align: center;
}

body{
    background-image: url("https://i.imgur.com/014MRz6.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
}

.dois{
    padding-top: 4em;
}

section figure img{
    border-radius: 50%;
    width: 144px;
    height: 144px;
}

section ul a button img{
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

button{
    width: 144px;
    height: 45px;
    background-color:white;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

button:hover{
    width: 150px;
    height: 51px;
    background-color: white;
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
}

li{
    padding: 1em 0 0 0;
}

footer{
    background-color: pink;
}